.cs-message-input__content-editor,
.cs-message-input__content-editor-wrapper {
  background-color: #565656;
  color: white;
}

.cs-message__content {
  font-size: 1rem;
  background-color: #121212 !important;
  border: 1px solid #565656;
  margin-bottom: 0.5rem;
}

.cs-message__html-content,
.cs-message__custom-content {
  color: white;
}

.cs-message__custom-content .cs-message--incoming .cs-message__content {
  background-color: #565656 !important;
  color: #8c8c8c;
  margin: 0 !important;
}

.cs-message--outgoing .cs-message__content {
  background-color: #565656 !important;
  color: #8c8c8c;
  margin: 0 !important;
}

.cs-message-input__tools > button {
  color: #8c8c8c;
}

.cs-typing-indicator {
  background-color: #121212 !important;
  margin-left: 1.5rem;
}

.cs-typing-indicator > * {
  color: white;
}

.cs-typing-indicator__dot {
  background-color: white;
}

.cs-message-list__scroll-wrapper > .cs-message {
  max-width: 90%;
  margin: 0.5rem 0;
}
