#root {
  margin: 0 auto;
  padding: 0rem;
  /* overflow: hidden; */
  /* height: 100vh;
  width: 100vw; */
  box-sizing: border-box;
}

#root > div {
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
