@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  @apply text-acai-white;
  @apply bg-base;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  ::-webkit-scrollbar {
    display: none;
  }

  max-height: 100%;
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  @apply text-acai-white;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  @apply text-acai-white;
  pointer-events: none;
  height: 0;
}

/* Custom image styles */

.ProseMirror img {
  transition: filter 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    outline: 3px solid #79586c;
    filter: brightness(90%);
  }
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://moderncss.dev/pure-css-custom-checkbox-style/ */

ul[data-type='taskList'] li > label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type='taskList'] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type='taskList'] li > label input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  @apply bg-slate-400;
  margin: 0;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 5px;
  border: 2px solid black;
  margin-right: 0.3rem;
  display: grid;
  place-content: center;

  &:hover {
    @apply bg-slate-400;
  }

  &:active {
    @apply bg-slate-400;
  }

  &::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type='taskList'] li[data-checked='true'] > div > p {
  @apply text-acai-white;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

p > a,
.link {
  @apply text-blue-300 hover:text-blue-400 !important;
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

h2 {
  @apply text-xl sm:text-2xl md:text-3xl;
}

h3 {
  @apply text-lg sm:text-xl md:text-2xl;
}

h4 {
  @apply text-base sm:text-lg md:text-xl;
}

h5 {
  @apply text-sm sm:text-base md:text-lg;
}

h6 {
  @apply text-xs sm:text-sm md:text-base;
}

li p,
ul p,
ol p {
  @apply mb-0;
}

p {
  @apply text-acai-white mb-2 md:mb-3;
}
p,
li,
ul,
ol {
  @apply text-base;
}

pre,
code {
  @apply bg-darker rounded-lg text-acai-white !important;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
hr {
  @apply border-lighter my-2;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
}
